
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayoutLte.cshtml";
}

<h1>Index</h1>
<br />
<a href="/Customer/File/ExportExcelCustomerList" class="btn btn-info">Listeyi İndir</a>
     
