
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayoutLte.cshtml";
}

<h1>İstatistikler</h1>
<br />
<h3>Kategori Sayısı: @ViewBag.v1</h3>
<br />
<h3>Aktif Kategori Sayısı: @ViewBag.v2</h3>
<br />
<h3>Pasif Kategori Sayısı: @ViewBag.v3</h3>

